{% extends 'base.jinja2' %}

{% block content %}
<div id = "aboutpage">
<h2> About Us </h2>
<hr/>
<p id = "aboutpagecontent">
Style Designer and Author ---</br></br>
 Aditi Kuriyal</br>
 Abhishek Kuriyal</br></br>
Technical Designer ---</br></br>
 Abhishek Kuriyal</br></br>
Front End Development ---</br></br>
 Html, CSS, Javascript( Ajax, Jquery )</br></br>
Backend End Development ---</br></br>
 Python, PhP, SQL</br></br>
Database Management ---</br></br>
 SQL</br></br>
-------------------------------------------------</br></br>
For updates and queries, kindly refer to Discord Channel</br></br>
Version 1.01 </br></br>
@Copyright (C) Abhishek Webapp Inc.</br></br>
-------------------------------------------------</br>
</br></br>
*************** THANK YOU! ******************
</p>
</div>

{% endblock %}