{% extends 'base.jinja2' %}

{% block content %}
<div id = "contactpage">
<h2> Contact Us </h2>
<hr/>
<p id = "contactpagecontent">
We don't have a large contact base , yet we have channels with which you can
contact us anytime.
</br></br>
<u>Mobile Numbers</u>:-</br>
+918868865200</br>
+919458973616</br>
(These mobile numbers are Indian MSISDN)
</br></br>
<u>Email</u>:-</br>
codeshelf2020@gmail.com</br>
heddyrogue@gmail.com
</br></br>
</p>
</div>

{% endblock %}