{%  extends 'base.jinja2' %}

{% block content %}

<div id = "forgetpassmessagepage">
<form id = "forgetpassmessageform" action= "/">
<p> {{ executable }} </p>
<input type= "submit" id = "submit" value= "HomePage"/>
<a id="homepage" href="/">Homepage</a>
</form>
</div>

{% endblock %}