{%  extends 'base.jinja2' %}

{% block content %}

<div id = "helpinfopage">
<form id = "helpinfoform" action= "/">
<p> Your query/feedback has been sent successfully....... </p>
<input type= "submit" id = "submit" value= "HomePage"/>
</form>
</div>

{% endblock %}