{% extends 'base.jinja2' %}

{% block content %}
<div id = instructionspage>
<h2> Instructions </h2>
<hr id = "instructionspageline"/>
<p id = "instructionspagecontent">
Hello there, let me introduce you and provide necessary instructions to use Bunnyblog webapp.......
</br>
Using Bunnyblog is fairly simple and straightforward, all you need to do is
to log in with registered username and password using Sign-in portal(register yourself
if you are not already a member) and get started.
</br>
The userpage which appears in front of you comprises of menu bar containing
several options which are as follows:-
</br></br>
<u>All Blogs</u>:-</br>
These are the blogs which are shared by all the users to be made
public, they are regularly updated if user shares his/her blog.
Your blog can appear in this section if you choose to share your blog.
</br></br>
<u>My Blogs</u>:-</br>
These are the blogs which are written by you. All the blogs which
you wrote will appear in this section. You can choose to share these
blogs by navigating through share button.
All the details regarding the blog will appear in blog box.
</br></br>
<u>Shared Blogs</u>:-</br>
These are the blogs which are shared by you. You can
choose to delete any shared blog if you want.
</br></br>
<u>New Blog</u>:-</br>
Using this you can start to write a blog.
Remember , blogs are meant to be precise and useful.
Also, select the tag which matches the blog content.
</br></br>
<u>Search</u>:-</br>
Search blog option searches the blog according to the tags.
The blogs appearing here will be selected from "All Blogs"
You will get blogs related to tags you selected.
</br></br>
<u>Help</u>:-</br>
You can always mail us in case of any queries relating to technical issues.
We will be more than glad to help you.....

As you can see navigating through our webapp is fairly simple ,
we will continuously add new features to our BunnyBlog,
so feel free to blog in this wonderful platform..............
</p>
</div>
{% endblock %}