{% extends 'base.jinja2' %}

{% block content %}
<div id = privacypolicypage>
<h2> Privacy Policy </h2>
<hr/>
<p id = "privacypolicypagecontent">
In this Privacy Policy, we describe the types of data, including personal data (collectively, "data"),
that we collect from you when you use BunnyBlog webapp and
services as described in this Privacy Policy (collectively, our "services"), how we use
and disclose that data, and your options to access or update your data.
</br></br>
<u>Transparency</u>:-</br>
To respect your privacy, before using your personal data, we will inform you
about the categories of data we collect and the purposes we use them for.
We will also inform you about the data management options that you may have.
For this purpose, we use agreements, terms of use, and consent notices embedded
in BunnyBlog services, which are available here. Should you wish to access and
manage your data, you can do so here, you can update and manage your data and also
provide us with an opt-out of certain personal data collection.
</br></br>
<u>Security</u>:-</br>
To secure your personal data, our products and services are designed with security and privacy in mind.
We encrypt your data in transfer and at rest where it is technically feasible. External web resources are protected by SSL encryption.
We review the processes of personal data usage before implementing them. This is done to minimize data usage and to make sure that you
as the data owner is informed about the processing. When the reason for data storage expires, we remove your personal data from our servers
or anonymize it for further usage. By the nature of the activity within which your data is collected, it may appear in datasets used for research.
Before using the datasets for research or other purposes you are not informed of, we remove or anonymize your personal data in the datasets.
</br></br>
<u>Changes to Policy</u>:-</br>
This Privacy Policy is current as of the Effective Date set forth above.
We may change this Privacy Policy from time to time, so please be sure
to check back periodically. We will post any changes to this Privacy Policy
on BunnyBlog Website. If we make any changes to this Privacy Policy that materially
affect our practices with regard to the personal information we have previously
collected from you, we will endeavor to provide you with an advance notice of such
change by highlighting the change on BunnyBlog Website.
</p>
</div>
{% endblock %}