{%  extends 'base.jinja2' %}

{% block content %}

<div id = "forgetpassmessagepage">
<form id = "forgetpassmessageform" action= "/register">
<p> {{ executable }} </p>
<input type= "submit" id = "submit" value= "Sign-up Page"/>
<a id = "homepage" href="/">HomePage</a>
</form>
</div>

{% endblock %}