{% extends 'base.jinja2' %}

{% block content %}
<div id = termsofservicepage>
<h2> Terms Of Service </h2>
<hr/>
<p id = "termsofservicepagecontent">
The webapp is for free personal and sharing uses, do not use this app for this commercial platforms.
In order for successful functioning of this website, please follow below rules and regulations.
</br></br>
<u> Visitor's Conduct </u>:-</br>
In using Site, including all software, services, and resources available through it, you agree that:
</br>
a) You will not use Site in any way that could damage, disable, overburden, or impair any BunnyBlog server, or interfere with any other visitors' use and enjoyment of Site.
</br>
b) You will not upload or otherwise transmit via Site any potentially destructive, disruptive, or otherwise harmful programs, files, or code including viruses, Trojan horses, worms, cancelbots, time bombs, or any other form or designation of files or programs that may damage, impair, or alter the operation of a computer or network.
</br>
c) You will not attempt to disrupt or interfere with the security, integrity, or availability of Site and/or its content and its content delivery, or otherwise cause harm to Site, any resources provided for Site visitors, user or administrator accounts, passwords, servers, or networks connected to Site or accessible through it.

</br></br>
<u> Use of Site Content </u>:-</br>
You may use Site content only for personal, informational, and internal purposes.
</br>
a) You may not remove any copyright or other proprietary notices displayed or contained in Site content.
</br>
b) You may not modify or alter Site content in any way.
</br>
c) You may not distribute, sell, lease, rent, or relicense Site content to others.
</br></br></br>
BunnyBlog is a platform for exchanging information, please respect the forum..............
</p>
</div>
{% endblock %}